@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper {
    width: 100%;
    aspect-ratio: 2.442;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 2.442;
    object-fit: cover;
  }

  /* @media (max-width: 1365px) {
    .swiper  {
      height: auto;
      min-height: 120px;
    }
  }

  @media (max-width: 1365px) {
    .swiper-slide img  {
      height: auto;
      min-height: 120px;
    }
  } */